html,body{height:auto}

.mui-off-canvas-left {
    color: #fff;
}
.title {
    margin: 10px 15px 10px;
    text-align: center;
}

.title-bar {
    background-color: #242424 !important;
}

#offCanvasContentScroll {
    padding: 55px 10px 10px 10px;
}

* {
    touch-action: pan-y;
}

.tale-content {
    width: 100%;
    margin-right: 10px;
    background: #c8e8c8;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.8;
    /*每行字体平均分布*/
    text-align: justify;
    position: static;
    /*阴影*/
    box-shadow: 0 0 15px 0 #ccc;
}

p {
    font-size: 1.1em;
    color: #333;
    margin: .1em 0;
}

button {
    color: #efefef;
    background: #242424;
    border-radius: 10px;
    border-color: #ffffff36;
}

.mui-table-view-inverted {
    color: #efefef;
}

.ballad {
    text-align: center;
    font-size: 16px;
    padding: 10px 5px;
}

.yellowBg {
    background-color: #f6f4ec;
}

.greenBg {
    background-color: #e6f0e6;
}

.blueBg {
    background-color: #e3f5fa;
}

.orangeBg {
    background-color: #f0e6db;
}

.pinkBg {
    background-color: #f5e9ef;
}

.bgBt {
    width: 15%;
    height: 20px;
}

.bgDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*垂直居中*/
    align-items: center;
}

.feedbackDiv {
    /*设置图片透明度*/
    opacity:0.3;
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 999;
}

textarea {
    height: 90px;
    margin-top: 10px;
    margin-bottom: 0px;
}