<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

		<link href="css/mui.min.css" rel="stylesheet" />
		<style>
			html,body{height:auto}

			.mui-off-canvas-left {
							color: #fff;
			}
			.title {
				margin: 10px 15px 10px;
				text-align: center;
			}

			.title-bar {
				background-color: #242424 !important;
			}

			#offCanvasContentScroll {
				padding: 55px 10px 10px 10px;
			}

			* {
				touch-action: pan-y;
			}

			.tale-content {
				width: 100%;
				margin-right: 10px;
				background: #c8e8c8;
				padding: 10px 15px;
				border-radius: 15px;
				font-size: 18px;
				font-family: sans-serif;
				line-height: 1.8;
				/*每行字体平均分布*/
				text-align: justify;
				position: static;
				/*阴影*/
				box-shadow: 0 0 15px 0 #ccc;
			}

			p {
				font-size: 1.1em;
				color: #333;
				margin: .1em 0;
			}

			button {
				color: white;
				background: #242424;
				border-radius: 10px;
				border-color: #ffffff36;
			}

			.ballad {
				text-align: center;
				font-size: 16px;
				padding: 10px 5px;
			}

			.yellowBg {
				background-color: #f6f4ec;
			}

			.greenBg {
				background-color: #e6f0e6;
			}

			.blueBg {
				background-color: #e3f5fa;
			}

			.orangeBg {
				background-color: #f0e6db;
			}

			.pinkBg {
				background-color: #f5e9ef;
			}

			.bgBt {
				width: 15%;
				height: 20px;
			}

			.bgDiv {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				/*垂直居中*/
				align-items: center;
			}

			.feedbackDiv {
				/*设置图片透明度*/
				opacity:0.3;
				position: fixed;
				bottom: 10px;
				right: 15px;
				z-index: 999;
			}

			textarea {
				height: 90px;
			}

		</style>
	</head>

	<body>
		<script src="js/mui.min.js"></script>
		<script type="text/javascript" src="js/vue/vue.min.js"></script>
		<script type="text/javascript" src="js/vue/axios.min.js"></script>

		<!--<div class="main mui-off-canvas-wrap mui-draggable mui-scalable">-->
		<div class="main mui-off-canvas-wrap mui-draggable">
		  <!-- 侧滑菜单部分 -->
		  <aside id="offCanvasSide" class="mui-off-canvas-left">
		    <div id="offCanvasSideScroll" class="mui-scroll-wrapper">
		      <div class="mui-scroll">
		        <!-- 菜单具体展示内容 -->
				<div class="title">
					<img src="img/xhjb.jpg"/>
				</div>

				<ul class="mui-table-view mui-table-view-chevron mui-table-view-inverted">
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">神 话</a>
						<div class="mui-collapse-content title-bar" v-for="column in columns">
							<button @click="getData(column.id)">{{column.title}}</button>
						</div>
					</li>

					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">传 说</a>
						<div class="mui-collapse-content title-bar" v-for="column in columns2">
							<button @click="getData(column.id)">{{column.title}}</button>
						</div>
					</li>

					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">故 事</a>
						<div class="mui-collapse-content title-bar" v-for="column in columns3">
							<button @click="getData(column.id)">{{column.title}}</button>
						</div>
					</li>

					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">歌 谣</a>
						<div class="mui-collapse-content title-bar" v-for="column in columns4">
							<button @click="getData(column.id)">{{column.title}}</button>
						</div>
					</li>

					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">谚 语</a>
						<div class="mui-collapse-content title-bar" v-for="column in columns5">
							<button @click="getData(column.id)">{{column.title}}</button>
						</div>
					</li>

					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">关于本书</a>
						<div class="mui-collapse-content title-bar" v-for="column in columns6">
							<button @click="getData(column.id)">{{column.title}}</button>
						</div>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">样式调整</a>
						<div class="mui-collapse-content title-bar">
							<div class="bgDiv">
								<button class="yellowBg bgBt" @click="changeBg('#f6f4ec')"></button>
								<button class="greenBg bgBt" @click="changeBg('#e6f0e6')"></button>
								<button class="blueBg bgBt" @click="changeBg('#e3f5fa')"></button>
								<button class="orangeBg bgBt" @click="changeBg('#f0e6db')"></button>
								<button class="pinkBg bgBt" @click="changeBg('#f5e9ef')"></button>
							</div>
							<br/>
							<div class="bgDiv">
								<button @click="changeFontSize('-1')">A-</button>
								<span>{{fontSize}}</span>
								<button @click="changeFontSize('1')">A+</button>
							</div>
						</div>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						当前在线人数：{{counter}}
					</li>
				</ul>

		      </div>
		    </div>
		  </aside>
		  
		  <!-- 主页面部分 -->
		  <div class="mui-inner-wrap">
		    <!-- 主页面标题 -->
		    <header class="mui-bar mui-bar-nav">
		      <a href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"></a>
		      <h1 class="mui-title" style="font-weight: 700;">{{title}}</h1>
		    </header>
			
		    <div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
				<div v-show="showContent" class="mui-scroll tale-content">
					<!-- 主界面具体展示内容 -->
					<p v-for="paragraph in paragraphs">{{paragraph}}</p>

					<div v-if="type == '谚语' || type == '关于本书'">

					</div>

					<div style="text-align: center;" v-else>
						<p>口述人：{{narrator}}　搜集人：{{recorder}}</p>
					</div>

					<br/>
					<div v-show="isShowFeedback" style="text-align: center;">
						<textarea placeholder="反馈内容：可以是错别字提醒，可以是样式建议，也可以是新的民间故事"></textarea>
						<button @click="saveFeedback()">提交</button>
					</div>

					<div class="feedbackDiv">
						<button @click="showFeedback()" style="background-color: #ffffff00;padding: 3px 3px 0px 5px;">
							<!--穿透图片的点击事件-->
							<img src="img/edit.png" alt="反馈" style="pointer-events: none;width: 25px;" />
						</button>
					</div>
				</div>
		    </div>
			
			<!-- 侧滑菜单弹出后的主页面遮罩 -->
			<div class="mui-off-canvas-backdrop"></div>
		  </div>
		</div>

		<script type="text/javascript">
			// 用于修改mui.min.js里面的监听方法，保证切换故事时，初始化滑块位置
			var localFlag = false;

			new Vue({
				el: '.main',
				data: {
					type: '',
					title: '',
					paragraphs: [],
					narrator: '',
					recorder: '',
					showContent: false,
					columns: [id='',title=''],
					columns2: [id='',title=''],
					columns3: [id='',title=''],
					columns4: [id='',title=''],
					columns5: [id='',title=''],
					columns6: [id='',title=''],
					timer: '',
					counter: 0,
					fontSize: 18,
					isShowFeedback: false,
				},
				created: function () { //在模板渲染成html前调用，即通常初始化某些属性值，然后再渲染成视图。
					this.getData(1);
					this.getMyth('神话');
					this.getMyth('传说');
					this.getMyth('故事');
					this.getMyth('歌谣');
					this.getMyth('谚语');
					this.getMyth('关于本书');
					this.getCounter();
				},
				methods: {
					getData: function (id) {
						const that = this;

						// 关闭反馈框
						if (that.isShowFeedback == true) {
							that.isShowFeedback = false;
						}

						// 切换内容时，定位到最上面
						document.getElementsByClassName("tale-content")[0].style.transform = "translate3d(0px, 0px, 0px) translateZ(0px)";
						// 初始化滑块位置
						localFlag = true;

						// 设置字体，用于从各乡镇入选作品切换到其他栏目时字体变小的问题
						var fontSize = sessionStorage.getItem("fontSize");
						if (fontSize != null) {
							document.getElementsByClassName("tale-content")[0].style.fontSize = fontSize + "px";
						}

						// 先去浏览器缓存中取值
						var paramsTemp = JSON.parse(sessionStorage.getItem(id));
						if(paramsTemp != null) {
							that.type = paramsTemp.type;
							that.title = paramsTemp.title;
							that.paragraphs = paramsTemp.paragraphs;
							that.narrator = paramsTemp.narrator;
							that.recorder = paramsTemp.recorder;

							// 对于统计表，修改字体大小
							if("各乡镇入选作品" == that.title) {
								document.getElementsByClassName("tale-content")[0].style.fontSize = "15px";
							}

							// 当网络较卡时，需要等数据都填充到模板之中才展示出来
							that.showContent = true;

							// 动态设置样式
							if (that.type == "歌谣") {
								document.getElementsByClassName("tale-content")[0].className = "mui-scroll tale-content ballad";
							} else {
								document.getElementsByClassName("tale-content")[0].className = "mui-scroll tale-content";
							}
						} else {
							axios.get("/XHJB/getTale/" + id)
									.then(function (response) {
										if (response.data) {
											var data = response.data;
											that.type = data.type;
											that.title = data.title;
											that.paragraphs = data.paragraphs;
											that.narrator = data.narrator;
											that.recorder = data.recorder;

											// 将故事内容缓存到浏览器中
											var params = {
												type : that.type,
												title : that.title,
												paragraphs : that.paragraphs,
												narrator : that.narrator,
												recorder : that.recorder
											};
											sessionStorage.setItem(id, JSON.stringify(params));

											// 对于统计表，修改字体大小
											if("各乡镇入选作品" == that.title) {
												document.getElementsByClassName("tale-content")[0].style.fontSize = "15px";
											}

											// 当网络较卡时，需要等数据都填充到模板之中才展示出来
											that.showContent = true;

											// 动态设置样式
											if (that.type == "歌谣") {
												document.getElementsByClassName("tale-content")[0].className = "mui-scroll tale-content ballad";
											} else {
												document.getElementsByClassName("tale-content")[0].className = "mui-scroll tale-content";
											}
										} else {
											alert('访问错误,请检查网络');
										}
									})
									.catch(function (error) {
										console.log(error);
									});
						}

						// 设置背景色
						var bgColor = sessionStorage.getItem("bgColor");
						if (bgColor != null) {
							document.getElementsByClassName("tale-content")[0].style.backgroundColor = bgColor;
						}

					},
					getMyth: function (type) {
						const that = this;
						axios.get("/XHJB/getTalesByType/" + type)
								.then(function (response) {
									if (response.data) {
										if("神话" == type) {
											that.columns = response.data;
										} else if("传说" == type) {
											that.columns2 = response.data;
										} else if("故事" == type) {
											that.columns3 = response.data;
										} else if("歌谣" == type) {
											that.columns4 = response.data;
										} else if("谚语" == type) {
											that.columns5 = response.data;
										} else if("关于本书" == type) {
											that.columns6 = response.data;
										}
									} else {
										alert('访问错误,请检查网络');
									}
								})
								.catch(function (error) {
									console.log(error);
								});
					},
					getCounter: function () {
						const that = this;
						axios.get("/XHJB/getCounter")
								.then(function (response) {
									if (response.status == 200) {
										that.counter = response.data;
									} else {
										alert('访问错误,请检查网络');
									}
								})
								.catch(function (error) {
									console.log(error);
								});
					},
					changeBg: function (color) {
						document.getElementsByClassName("tale-content")[0].style.backgroundColor = color;
						sessionStorage.setItem("bgColor", color);
					},
					changeFontSize: function (ops) {
						const that = this;
						var fontSize = sessionStorage.getItem("fontSize");
						if (fontSize == null) {
							// 默认字体大小为18px;
							fontSize = "18";
						}

						if(ops == "-1") {
							fontSize = parseInt(fontSize) - 1;
						} else {
							fontSize = parseInt(fontSize) + 1;
						}
						that.fontSize = fontSize;
						document.getElementsByClassName("tale-content")[0].style.fontSize = fontSize + "px";
						// 将字体大小添加到缓存中
						sessionStorage.setItem("fontSize", fontSize);
					},
					showFeedback: function () {
						if (this.isShowFeedback == false) {
							this.isShowFeedback = true;
							// 定位
							//document.getElementsByTagName("textarea")[0].focus();
						} else {
							this.isShowFeedback = false;
						}
					},
					saveFeedback: function () {
						var content = document.getElementsByTagName("textarea")[0].value;
						if (content != null && content != "") {
							axios.post("/XHJB/addFeedback", {
								type: this.type,
								title: this.title,
								content: content
							})
									.then(function (response) {
										if (response.data) {
											mui.alert("提交成功");
											document.getElementsByTagName("textarea")[0].value = "";
										} else {
											mui.alert('访问错误,请检查网络');
										}
									})
									.catch(function (error) {
										console.log(error);
									});
						} else {
							mui.alert("内容为空！");
						}
					}
				},
				mounted: function () { //在模板渲染成html后调用，通常是初始化页面完成后，再对html的dom节点进行一些需要的操作。
					this.timer = setInterval(this.getCounter, 8000);
					// 设置背景色
					var bgColor = sessionStorage.getItem("bgColor");
					if (bgColor != null) {
						document.getElementsByClassName("tale-content")[0].style.backgroundColor = bgColor;
					}
					// 设置字体
					var fontSize = sessionStorage.getItem("fontSize");
					if (fontSize != null) {
						document.getElementsByClassName("tale-content")[0].style.fontSize = fontSize + "px";
						this.fontSize = fontSize;
					}
				},
				beforeDestroy: function () {
					clearInterval(this.timer);
				}
			});

			//主界面和侧滑菜单界面均支持区域滚动；
			mui('#offCanvasSideScroll').scroll();
			mui('#offCanvasContentScroll').scroll();

		</script>
	</body>
</html>
