<!DOCTYPE html>
<html class=" responsive touch" lang="zh-cn">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" /> 
  <title>Steam 客服</title>
  <link rel="shortcut icon" href="img/home_01.svg" />
  <link href="css/shared_responsive.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript">$J = jQuery.noConflict();</script>
  <script type="text/javascript" src="js/shared_responsive_adapter.js"></script>
 </head> 
 <body class="v6 responsive_page"> 
  <div class="responsive_page_frame with_header"> 
   <div class="responsive_page_menu_ctn mainmenu"> 
    <div class="responsive_page_menu" id="responsive_page_menu"> 
     <div class="mainmenu_contents"> 
      <div class="mainmenu_contents_items"> 
       <a class="menuitem" href="https://help.steampowered.com/zh-cn/login/"> 登录 </a> 
       <a class="menuitem supernav" href="https://store.steampowered.com/" data-tooltip-type="selector" data-tooltip-content=".submenu_store"> 商店 </a> 
       <div class="submenu_store" style="display: none;" data-submenuid="store"> 
        <a class="submenuitem" href="https://store.steampowered.com/">主页</a> 
       </div> 
       <a class="menuitem supernav" style="display: block" href="https://steamcommunity.com/" data-tooltip-type="selector" data-tooltip-content=".submenu_community"> 社区 </a> 
       <div class="submenu_community" style="display: none;" data-submenuid="community"> 
        <a class="submenuitem" href="https://steamcommunity.com/">主页</a> 
       </div> 
       <a class="menuitem" href="https://help.steampowered.com/zh-cn/"> 客服 </a> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="responsive_header"> 
    <div class="responsive_header_content"> 
     <div id="responsive_menu_logo"> 
      <img src="img/menu.png" height="100%" />
     </div> 
     <div class="responsive_header_logo">
       STEAM 
     </div> 
    </div> 
   </div> 
   <!--文本内容遮罩 --> 
   <div class="responsive_page_content_overlay"> 
   </div> 
   <div class="responsive_page_content"> 
       <div>
         图拉丁图拉丁图拉丁图拉丁图拉丁图拉丁图拉丁图拉丁 
        <br /> 图拉丁图拉丁图拉丁图拉丁图拉丁图拉丁图拉丁图拉丁 
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br /> 
        <br />
        <br />
        <br />
        <br />
        <br />
        <br /> 
        <br />
        <br />
        <br />
        <br />
        <br />
        <br /> 
        <br />
        <br />
        <br />
        <br />
        <br />
        <br /> 
        <br />
        <br />
        <br />
        <br />
        <br />
        <br /> 图拉丁 
       </div> 
    <!-- responsive_page_legacy_content --> 
   </div> 
   <!-- responsive_page_content --> 
  </div> 
  <!-- responsive_page_frame -->  
 </body>
</html>